@font-face {
    font-family: 'px437_ibm_vga9regular';
    src: url('optimized_fonts/px437_ibm_vga9-webfont.woff2') format('woff2'),
    url('optimized_fonts/px437_ibm_vga9-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'px437_ibm_vga9regular';
    padding: 2em; /*pads content all around by 1 em*/
    background-color: #00009b;
    border-color: #b5bbde;
    border-style: double;
    border-width: 10px;
    color:#b5bbde;
}

.modified {
    color: red;
}

h1 {
    padding: 1em;
    text-shadow: 15px 25px 10px #ff4b05;
    width: fit-content;
    margin:auto;
}

p{
    color:cyan;
    background-color: black;
}

input {
    font-family: 'px437_ibm_vga9regular', Consolas;
    font-size: 1em;
    width:20em;
}

button {
    font-family: 'px437_ibm_vga9regular', Consolas;
    background-color: #00beff;
    font-size:1em;
    border-style: double;
    border-width: 0.2em;
    text-align: center;
    transition: all 0.5s;
    cursor:pointer;
    margin: 5px;
    width:10em;
}

button p::first-letter{
    color: black;
    background-color: grey;
}

button p {
    background-color: transparent;
    color:black;
    cursor:pointer;
    position:relative;
    transition:1.5s;

}

button p:after {
    content:'>>';
    position: absolute;
    opacity:0;
    top:0;
    right: -10px;
    transition: 0.5s;
}

button:hover p {
    padding-right: 25px;
}

button:hover p:after {
    opacity:1;
    right:0;
}
