canvas {
    display: block;
}

img {
    width: 300px;
    width: 300px;
}

#drop {
    width: 800px;
    height: 800px;
    background-color:green;
}

#local_files_demo {
    width: 400px;
    height: 400px;
    background-color: black;
    color: greenyellow;
}